@import 'tailwindcss';

:root {
  --background: #fafafa;
  --foreground: #0f172a;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #0f172a;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family:
    -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text', 'Segoe UI', Roboto,
    sans-serif;
  -webkit-tap-highlight-color: transparent;
  padding-bottom: env(safe-area-inset-bottom);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
